* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
}

.gallery img {
  width: 100%;
}
