* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Garamons-Rg";
  src: url(./../fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: "Garamond-It";
  src: url(./../fonts/CormorantGaramond-Italic.ttf);
}

@font-face {
  font-family: "Garamond-Bd";
  src: url(./../fonts/CormorantGaramond-Bold.ttf);
}

body {
  background-color: #e9e9e0;
  padding: 40px;
  color: #333333;
}

h1 {
  font-family: "Garamond-Bd";
  font-size: 1.875rem;
  text-align: center;
}

nav {
  display: grid;
  border-top: 4px double black;
  border-bottom: 4px double black;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 4px;
  margin: 16px 0;
}

h2 {
  font-family: "Garamond-Bd";
  font-size: 35px;
  text-align: center;
}

h3 {
  font-family: "Garamond-Rg";
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Garamond-Bd";
  font-size: 24px;
}

p {
  font-family: "Garamond-Rg";
  font-size: 16px;
  line-height: 1.5;
}

h5 {
  font-family: "Garamond-Bd";
  font-size: 19px;
  padding-bottom: 16px;
}

h6 {
  font-family: "Garamond-Bd";
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.3;
}
.wrapper-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.wrapper-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 5;
}

.wrapper-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: 16px;
}
span {
  font-family: "Garamond-It";
}

.headline-news {
  grid-column-start: 1;
  grid-column-end: 3;
}

.wrapper-image {
  padding: 16px;
}

.wrapper-sponsors {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  /* grid-column-start: 5;
  grid-column-end: 6; */
}

.Ad-wrapper {
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.Ad-1,
.Ad-2,
.Ad-3 {
  border-style: double;
  padding: 20px;
  margin-bottom: 16px;
}

.Best-knives {
  color: #737b80;
  font-family: "Garamond-Rg";
  font-size: 20px;
  text-decoration: underline;
  line-height: 2;
  text-underline-offset: 16px;
}

.Ad-3 img {
  width: 100%;
}
